body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(black, white);
    margin: 0px;
}

header{
	text-align: center;
   	
 color: white;
	padding-bottom: 30px;
}
h1{
	font-family: 'roboto',arial, sans-serif;
	margin-top: 0;
	padding-top: 30px;
	color: rgb(255, 176, 19);
    text-align:center;
}

.navbar{
	color: #999999;
}
a{
	text-decoration: none;
	color: black;
}
ul {
    padding: 0;
    display: inline;
}

li {
    list-style-type: none;
    display: inline;
    margin: 10px;
    font-size: 1.5em;
}

li:hover {
    font-weight: bold;
}

nav{
	text-align: center;
	background-color: rgba(102, 100, 97, 0);
	/* box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5); */
	font-size: 1.1em;
	padding: 15px;
	}

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #c9eb93;
}

.form-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #218838;
}

.separator{
	width: 40px;
 	height: 1px;
 	margin: 15px auto;
 	display: block;
 	background-color: #999999;

}

