@import "custom/article";
// @import "custom/connexion";
@import "./custom/contact";
@import "./custom/formulaire";



/************************************************HEADER*****************************/

body{
	font-family: 'Roboto', sans-serif;
	background: rgb(104, 103, 103);
	color: white;
} 


/*************************** PAGE : AJOUT Article****************************************************/

.formulaire h2{
color: rgb(255, 176, 19);
text-align: center;
padding: 40px;
}


form{
	text-align: center;
}

section.formulaire input,
section.formulaire textarea{
	font-size: 20px;
	height: 60px;
	text-align: center;
	border-radius: 15px;
	width:80%;
	max-width: 600px;
	box-sizing: border-box;
	margin: 10px auto;

} 

section.formulaire label{
	height: 30px;
}
#contenu{
	height: 300px;
	padding: 10px;
}

input.btn{
	width: 80%; /* La même largeur que les autres éléments */
    max-width: 200px; /* Limite la largeur maximale du bouton */
    margin: 40px auto;
    background-color: #1bbfbf;
    border-radius: 15px;
    height: 50px;
}
/**************************************************************************************************/

h3{
	font-size: 20px;
}



h4{
	font-size: 2em;
}

/************************* NAVBAR  **************************************************************************/
nav{
display: flex;
justify-content: center;
align-items: center;
align-self: flex-end;
flex-direction: row;
gap: 30px;
padding: 10px 0;
margin-top: 180px;
}

.link_to_page{
	text-decoration: none;
	color: #000;
	font-size: 25px;
}

a.link_to_page:hover{
	text-decoration: underline;
	font-size: 30px;
	background-color: rgba(243, 190, 14, 0.336);
	transition: 200ms;
}

a{
	text-decoration: none;
	color: black;

}

#email{
	color: limegreen;
}

ul{
	// position: absolute; 
	bottom:0;
	display: flex; 
	left: 60%;
	gap: 10px;
	
}
li{
	
	list-style-type: none;
	margin: 10px;
	font-size: 20px;
}

a:hover{
font-size: 20px;
}

 .footer{
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.h3-footer{
	font-size: 40px;
}
.h3-footer:hover{
	color:#ec850f;
	text-decoration: underline;
}
iframe#twitter-widget-0{
	padding: 80px;
	height: 800px;
}

table{
	margin:auto;
}

th{
	background-color: aquamarine;
	border: 1px solid black;
	font-size: x-large;
	font-weight: bold;
}

td{
	border: 1px solid black;
	font-weight: bold;
	column-width: 300px;
}

#logo{
margin-top: 0px;
width: 50px;
}

#projet{
display: flex;
flex-wrap: wrap;

}
#picture-project img{
width: 90%;	
}

/* Classes */

.descripaccueil{
font-size: 2em;
font-weight: bold;
color: rgb(255, 176, 19)
}

.separator{
	width: 40px;
 	height: 1px;
 	margin: 15px auto;
 	display: block;
 	background-color: #999999;

}

.contener{
	width: 80%;
	margin: auto;
}

/******* CARDS ******/
.projet{
width: 400px;
margin: 30px;
display: inline-block;
background: white;
padding-bottom: 15px;
border: 0px black solid;
border-radius: 10px;
overflow: hidden;


}

.projet:hover{
background-color: #f5f790;
box-shadow: 0 20px 20px rgb(19, 19, 19);
transition: 0.3s;
}

.projet img{
	height: 266px;
	width: 400px;
}
.projet span {
	text-transform: uppercase;
	display: block; 
}

.projet .date-project{
font-size: 0.7em;

}
.picture{
width: 400px;
height: 266px;
overflow: hidden;
margin-bottom: 15px;
}

.picture-project img{
width:80%;	
}

.picture-project video {
width:80%;
}

/**FOOTER**/
section.footer{
	height: 300px;
	background: rgb(59, 59, 59);
	color: white;

}

i{
	height: 20px;
	width: 20px;
}
.social-links a {
    text-decoration: none;
	background-color: white;
    color:black;
    padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	// margin-bottom: 40px;
	
}
.social-links a:hover {
    color:#1bbfbf;
	
    
}
/* Media Queries */
@media all and (max-width: 1000px){
	.projet { width: 100%; margin: 15px auto; }
	.projet img { width: 100%; min-width: auto; height: auto; }
	.projet .picture { width: 100%; height: auto; }
	header h2 { width: 90%; }
}

