h2{
    text-align: center;
    margin-bottom: 50px;
 }
#reservationForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px; /* Augmente la largeur maximale du formulaire */
    padding: 5px; /* Réduit le padding interne du formulaire */
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Les groupes de champs prennent toute la largeur */
}


.form-group input,
.form-group select,
.form-group textarea,
.form-group button {
    width: 100%; /* Largeur uniforme pour tous les éléments */
    max-width: 700px; /* Limite maximale pour la largeur */
    height: 60px; /* Hauteur uniforme pour les inputs, selects et le bouton */
    box-sizing: border-box;
    margin: 5px 0; /* Espacement entre les éléments */
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto';
}
.form-group label{
    height: 50px;
    font-size: 20px;
    font-family: 'Roboto';
}
.form-group textarea {
    height: auto;
    min-height: 200px; /* Donne plus de hauteur au textarea */
    resize: vertical; /* Permet à l'utilisateur de redimensionner verticalement le textarea */
}

button {
    background-color: #1bbfbf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #17a2a2;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* S'assure que le conteneur prend toute la hauteur de la fenêtre */
    padding: 10px;
}